body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header{
    background-color: #333;
    color:#fff;
    padding:1rem;
    text-align: center;
}
navbar a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;

}

section{
    padding: 2rem;
}
.project-card {
    background-color: #f4f4f4;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;

}